@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* А оно надо? */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.li-li-li-li-li-li-li-li-li-li-li-li-li-li {
  list-style-type: none;
}

.ul-ul-ul-ul-ul-ul-ul-ul-ul-ul-ul-ul-ul-ul {
  padding: 0;
  margin: 0;
}

.link-link-link-link-link-link {
  color: inherit;
  text-decoration: none;
}



.footer-address,
.main-address {
  font-style: normal;
}

/* index.html start*/

















.catalog-navigation-link-1::before {
  content: url("../images/index-page/categories/categorie-1.svg");
}

.catalog-navigation-link-2::before {
  content: url("../images/index-page/categories/categorie-2.svg");
}

.catalog-navigation-link-3::before {
  content: url("../images/index-page/categories/categorie-3.svg");
}

.catalog-navigation-link-4::before {
  content: url("../images/index-page/categories/categorie-4.svg");
}

.catalog-navigation-link-5::before {
  content: url("../images/index-page/categories/categorie-5.svg");
}

.catalog-navigation-link-6::before {
  content: url("../images/index-page/categories/categorie-6.svg");
}



.term-delievery-item::after {
  content: url("../images/index-page/deliever.svg");
  width: 136px;
  height: 164px;
}



.super-order-back::before {
  content: url("../images/index-page/deliever-car.svg");
  width: 47px;
  height: 31px;
}






.subscribe {
  background-color: #f0f0f0;
}

.subscribe-email {
  color: inherit;
  opacity: 0.5;
}

.subscribe-button {
  width: 253px;
  height: 57px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}



.footer-address {

}

.footer-navigation-link {

}

.catalog-main-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.catalog-breadcrumbs-item {
  font-size: 16px;
  line-height: 19px;
}

.catalog-main-section {
  background: #f0f0f0;
}

.filter-sorting-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 19px;
}

.sorting-select {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.up-down-sorting {
  border: none;
}

.up-down-sorting::after {
  content: url("../images/catalog-page/up-triangle.svg");
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.down-sorting {
  transform: scale(1, -1);
}

.product-list-section {
  background: #ffffff;
}

.product-title {
  line-height: 20px;
}

.product-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: inherit;
}

.pagination-list {
  background: #ebebeb;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 16px;
  color: #444444;
  text-align: center;
  opacity: 0.3;
}


}
