@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  background-color: #f0f0f0;
  color: #000000;
}

/* Начало шапки страницы */
.page-header {
  background-color: #ffffff;
}

.yellow-wrapper {
  width: 1160px;
  background-color: #ffe17f;
  margin: 0 auto;
  padding: 0 60px;
}

.page-logo {
  display: block;
}

.header-first-row {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.search-tandem {
}

.search-input {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: inherit;
}

.search-link {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.user-tandem {
}

.login-link,
.logout-link {
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.compare-shopcart-tandem {
}

.compare-link,
.shopcart-link {
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.header-second-row {
  display: flex;
  margin: 0;
  padding: 0;
}

.product-catalog-select {
  width: 293px;
  margin-right: auto;
}

.product-catalog-select,
.header-navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.header-navigation {
  /* нужна ли тут ширина, если ширина задана у ФЭ слева, и тот ФЭ
  отталкивает этот маргином? */
  width: 500px;
}

.header-navigation-list {
  margin: 0;
  padding: 0;
}

.header-navigation-item {
  text-align: right;
  list-style-type: none;
}
/* Конец шапки страницы */

.main-container {
  flex-grow: 1;
}

/* Начало подвала страницы */
.page-footer {
  background: #444444;
  color: #ffffff;
  padding: 0 140px;
}

.footer-first-row {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.footer-address {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  width: 250px;
}

.footer-yellow-line {
  width: 250px;
}

.footer-direction {
}
.footer-navigation {
}
.footer-navigation-list {
}
.footer-navigation-item {
}

.footer-navigation-link {
  align-self: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.footer-phone {
  color: inherit;
  width: 200px;
  text-align: right;
}

.footer-second-row {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.social-networks-section {
}

.social-networks-list {
}
.social-networks-item {
}
.social-networks-link {
}

.footer-logo-html {
  width: 200px;
  text-align: right;
}
/* Конец подвала страницы */

/* Начало главного содержимого главной страницы */
.carousel-section {
  padding: 0 140px;
  background-color: #ffffff;
}
.carousel-section-wrapper {
  display: flex;
}
.carousel-main-image {
  display: flex;
  align-items: center;
  width: 560px;
  margin-right: 40px;
}

.slider-button {
  border: none;
  background-color: inherit;
}

.slider-prev {
}
.slider-image {
}
.slider-next {
  transform: scale(-1, 1);
}
.carousel-description {
  width: 560px;
}
.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.slider-description {
  font-size: 18px;
  line-height: 30px;
}
.button-yellow-line {
}
.slider-properties {
}
.slider-property {
  font-size: 16px;
  line-height: 30px;
}

.slider-meaning {
  font-size: 36px;
  line-height: 30px;
}


.catalog-navigation {
  padding: 0;
  margin: 0 140px;
}

.catalog-navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0;
  margin: 0;
}

.catalog-navigation-item {
  width: 160px;
  list-style-type: none;
  background-color: #ffe17f;
}

.catalog-navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

/* Доставка, гарантия и кредит начало */
.terms-section {
  display: flex;
  padding: 0 140px;
  align-items: center;
}

.terms-buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-right: 116px;
}

.term-description-list {
  margin: 0;
  padding: 0;
  width: 452px;
}

.term-delievery-item {
  list-style-type: none;
}

.term-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.term-text-1 {
}
/* Доставка, гарантия и кредит конец */

.white-wrapper {
  background-color: #ffffff;
}

.super-order-wrapper {
  /* сомневаюсь */
  display: table;
  width: 1160px;
  height: 100px;
  background-color: #f0f0f0;
  margin: 0 auto;
}

.super-order {
  /* сомневаюсь */
  display: table-cell;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
}

.about-and-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  background-color: #ffffff;
}

.about-company {
  width: 520px;
}

.about-and-contacts-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-and-contacts-text {
}

.about-list {
  margin: 0;
}

.about-list-item {
  color: #ffe17f;
}

.about-list-item p {
  font-weight: bold;
  color: #000000;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about-and-contacts-h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

/* Универсальный стиль кнопки
с желтой полосой */
.button-yellow-line {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.contacts {
  width: 532px;
}

.phone-number {
  color: inherit;
  font-style: normal;
}

.main-address {
  font-style: normal;
}

/* Секция с подпиской */
.subscribe-wrapper {
  margin: 0 141px;
}

.subscribe-first-row {
  display: flex;
  padding-left: 6px;
  align-items: center;
}

.subscribe-h2 {
  width: 350px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-right: 256px;
}

.subscribe-p {
  width: 560px;
}

.subscribe-second-row {
  display: flex;
  align-items: center;
}

.subscribe-form {
  display: flex;
  width: 810px;
  margin-right: 188px;
}

.subscribe-email {
  width: 557px;
  color: inherit;
  opacity: 0.5;
  background-color: inherit;
  border: none;
  border-bottom: 3px #c4c4c4 solid;
}

.subscribe-button {
  width: 253px;
  height: 57px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px #c4c4c4 solid;
}

.this-free {
  width: 160px;
  text-align: left;
}
/* Конец главного содержимого главной страницы */

/* Начало главного содержимого страницы Каталог */
.catalog-header {
  background-color: #ffffff;
  padding: 0 120px;
  margin: 0;
}

.catalog-main-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.catalog-breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-breadcrumbs-item {
  margin-right: 36px;
  max-width: 200px;
  list-style-type: none;
}

.catalog-breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-main-wrapper {
  display: flex;
  padding: 0 140px;
}

.catalog-filter-column {
  width: 320px;
}

.filter-sorting-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.catalog-filter {
}
.catalog-filter-group {
  border: none;
}

.catalog-filter-legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
}

.control-label {
}
.color-checkbox {
}

.catalog-right-column {
  width: 840px;
}

.sorting-select {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  background-color: inherit;
}

.sorting-mini-wrapper {
  display: flex;
  justify-content: space-between;
}

.up-down-buttons-wrapper {
  max-width: 100px;
}

.sorting-header-word {
  max-width: 200px;
}

.sorting-options-select {
  max-width: 200px;
}

.up-down-sorting {
}
.down-sorting {
}

.product-list-section {
  background-color: #ffffff;
  padding: 70px 40px 78px;
}

.product-list {
  margin: 0;
  padding: 0;
}

.product-item {
  list-style-type: none;
  width: 360px;
}

.name-and-price-wrapper {
  display: flex;
  justify-content: space-between;
}


.product-title {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  letter-spacing: -0.02em;
}
.product-img {
}
.product-title {
}
.product-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}
.visually-hidden {
}

.pagination-show-more {
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: inherit;
}

.pagination-list {
  background: #ebebeb;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}
.pagination-item {
  list-style-type: none;
}
.pagination-prev {
}
.pagination-prev-next {
}

.pagination-link {
  font-size: 16px;
  color: #444444;
  text-align: center;
  opacity: 0.3;
}

.pagination-current {
}
.pagination-next {
}
/* Конец главного содержимого страницы Каталог */
