@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;

  background: #e5e5e5;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.reset-margin {
  margin: 0;
}

.button {
  display: block;

  border: none;
  cursor: pointer;
}

.white-wrapper-with-padding {
  padding: 0 140px;

  background-color: #ffffff;
}

/* Общие поведения */
.focus:focus {
  z-index: 9;

  outline: 2px solid #af4fff;
  outline-offset: 2px;
  opacity: 1;
}

.hover-06:hover {
  opacity: 0.6;
}

.active-03:active {
  opacity: 0.3;
}

/* Начало шапки страницы */
.page-header {
  margin: 0 auto;
}

.header-yellow-wrapper {
  margin-top: 40px;
  padding: 7px 60px 23px;

  background-color: #ffe17f;
}

.page-logo {
  display: block;
}

.page-logo:hover {
  opacity: 0.6;
}

.page-logo:active {
  opacity: 0.3;
}

.page-logo-link {
  position: relative;
  bottom: 30px;

  display: block;
  width: 145px;
}

.header-first-row {
  z-index: 2;

  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-tandem {
  display: flex;
}

.search-input-label {
  position: relative;
}

.search-input-label::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 16px;
  height: 16px;
  margin: auto auto auto 14px;

  background: url("../images/header/search-glass.svg") no-repeat center;
}

.search-input {
  width: 355px;
  height: 36px;
  padding-left: 44px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: inherit;

  background-color: inherit;
  border: none;
}

.search-input-border {
  display: block;

  border: #000000 2px solid;
  border-radius: 50px 0 0 50px;
}

.search-button-border {
  border: #000000 2px solid;
  border-left: none;
  border-radius: 0 50px 50px 0;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.search-input::placeholder {
  color: inherit;

  opacity: 0.3;
}

.search-button {
  width: 158px;
  height: 36px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;

  background-color: inherit;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
  border-radius: 0 50px 50px 0;
}

.search-input:focus,
.search-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.search-button:active span {
  opacity: 0.3;
}

.user-tandem {
  min-width: 231px;
}

.login-link,
.logout-link {
  display: inline-block;
  padding: 5px 0;

  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.login-link::before {
  content: "";

  display: inline-block;
  width: 13px;
  height: 12px;
  margin: auto 13px auto 0;

  background: url("../images/header/user.svg") no-repeat;
}

.logout-link {
  margin-left: 28px;

  opacity: 0.3;
}

.compare-shopcart-tandem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.compare-shopcart-tandem:first-child {
  margin-left: auto;
}

.compare-link,
.shopcart-link {
  display: inline-block;
  padding: 5px 0;

  font-size: 18px;
  line-height: 30px;
  text-align: right;
  color: inherit;
  text-decoration: none;
}

.shopcart-link {
  position: relative;

  display: flex;
  margin-left: 13px;
  padding-left: 15px;
}

.shopcart-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  opacity: 1;
}

.compare-link::before {
  content: "";

  display: inline-block;
  width: 10px;
  height: 12px;
  margin: auto 12px auto 0;

  background: url("../images/header/compare.svg") no-repeat;
}

.shopcart-link::before {
  content: "";

  display: inline-block;
  width: 16px;
  height: 14px;
  margin: 6px 12px auto 0;

  background: url("../images/header/shop-cart.svg") no-repeat;
}

.shopcart-link::after {
  content: "2";
  position: absolute;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 21px;
  height: 21px;

  font-size: 14px;
  line-height: 17px;

  background: #ffffff;
  border-radius: 50%;
}

.header-second-row {
  position: relative;
  z-index: 2;

  display: flex;
}

.product-catalog-select-wrapper {
  margin-right: auto;
}

.product-catalog-select-wrapper:focus-within > .popover-header-catalog {
  display: flex;
}

.product-catalog-select {
  position: relative;

  display: flex;
  width: 293px;
  margin-right: auto;
  justify-items: center;
}

.product-catalog-select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 46px;
  height: 46px;

  background-image: url("../images/header/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: #000000 2px solid;
  border-radius: 50%;
  opacity: 0.3;
}

.product-catalog-select:hover::after {
  background-image: url("../images/header/minus.svg");
  opacity: 1;
}

.product-catalog-select,
.header-navigation-link {
  display: block;
  padding: 15px 0;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.header-navigation-item {
  position: relative;

  margin-left: 45px;
}

.header-navigation-item:hover::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;

  display: block;
  width: 100%;
  height: 2px;

  background: #000000;
}

.header-navigation-item:first-child {
  margin-left: auto;
}

/* Поповер каталога в шапке */

.popover-header-catalog {
  position: absolute;
  top: 35px;
  left: -60px;

  display: none;
  flex-wrap: wrap;
  width: 1070px;
  padding: 33px 30px 40px 60px;

  background-color: #ffe17f;
}

.popover-header-catalog:hover {
  display: flex;
}

.product-catalog-select:hover ~ .popover-header-catalog {
  display: flex;
}

.product-catalog-select:focus-within ~ .popover-header-catalog {
  display: flex;
}

.popover-header-catalog > ul {
  margin-right: 30px;
}

.popover-header-catalog > ul > li {
  margin-bottom: 10px;
}

.popover-header-catalog > ul > li:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  opacity: 1;
}

.popover-header-catalog > ul > li > a:focus {
  outline: none;
}

.popover-header-catalog > ul > li > a {
  position: relative;

  color: #000000;
  text-decoration: none;
}

.popover-header-catalog > ul > li > a:hover::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;

  display: block;
  width: 100%;
  height: 2px;

  background: #000000;
}

.popover-header-catalog > ul > li > a:visited {
  color: #000000;
}
/* Конец шапки страницы */

/* Начало подвала страницы */
.page-footer {
  padding: 62px 140px 61px;

  color: #ffffff;

  background: #444444;
}

.page-logo-link.footer {
  position: static;
}

.footer-first-row {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-yellow-line {
  width: 80px;
  height: 7px;

  background: #ffc700;
}

.footer-navigation {
  margin-right: auto;
  margin-left: 112px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  position: relative;

  align-self: center;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.footer-navigation-link:hover {
  color: #ffc700;
}

.footer-navigation-link:hover::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;

  display: block;
  width: 100%;
  height: 2px;

  background: #ffc700;
}

.footer-phone {
  width: 200px;
  margin-left: auto;

  text-align: right;
  color: inherit;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

.social-networks-section {
  margin-left: 40px;
}

.social-networks-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  height: 40px;
}

.social-networks-item:not(:last-child) {
  margin-right: 15px;
}

.social-networks-item:nth-child(7n) {
  margin-right: 0;
}

.social-networks-item:nth-child(1n + 8) {
  margin-top: 15px;
}

.social-networks-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social-networks-link:active::before {
  opacity: 0.3;
}

.social-networks-link:hover::after {
  background-color: #ffc700;
}

.social-networks-link::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-networks-link::before {
  content: "";
  position: absolute;
  z-index: 1;

  display: block;
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;
}

.facebook::before {
  background: url("../images/footer/social-links/fb.svg") no-repeat center;
}

.instagram::before {
  background: url("../images/footer/social-links/instagram.svg") no-repeat center;
}

.twitter::before {
  background: url("../images/footer/social-links/twitter.svg") no-repeat center;
}

.footer-logo-html {
  width: 115px;

  text-align: right;
}

.footer-academy-svg:hover {
  fill: #ffffff;
}
/* Конец подвала страницы */

/* Начало главного содержимого главной страницы */

.index-main-yellow-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 113px;
  margin: 0 auto;

  background-color: #ffe17f;
}

.recommended-number {
  margin-right: 49px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 180px;
  line-height: 30px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
}

.main-container {
  flex-grow: 1;
}


.carousel-section {
  margin-top: -151px;
}

.carousel-section-wrapper {
  display: flex;
}

.carousel-main-image {
  width: 560px;
  margin-right: 40px;
}

.slider-button {
  position: absolute;

  display: inline-block;
  margin-top: 161px;
  padding: 50px;

  background-color: inherit;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: -48px;
}

.slider-prev {
  margin-left: -20px;
}


.slider-image {
  display: inline-block;
  width: 560px;
  height: 560px;
  object-fit: contain;
}

.slider-next {
  margin-left: -70px;

  transform: scale(-1, 1);
}

.carousel-description {
  align-self: flex-end;
  width: 560px;
  padding-bottom: 38px;
}

.slider-slogan {
  margin-bottom: 29px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.slider-description {
  margin-top: 0;
  margin-bottom: 51px;

  font-size: 18px;
  line-height: 30px;
}

.carousel-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 49px;
}

.like-radio-for-focus {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 0 0 16px;
  padding: 0;
}

.like-radio {
  position: absolute;

  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  border: #000000 2px solid;
  border-radius: 50%;
}

.like-radio-for-focus:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.current-like-radio {
  background-color: #000000;
}

.meaning-property-wrapper {
  margin-right: 20px;
}

.slider-properties {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.slider-property {
  font-size: 16px;
  line-height: 30px;
}

.slider-meaning {
  margin-bottom: 12px;

  font-size: 36px;
  line-height: 30px;
}

.catalog-navigation {
  margin-top: 70px;
  padding-bottom: 70px;
}

.catalog-navigation-list {
  display: flex;
  justify-content: space-between;
  height: 253px;
}

.catalog-navigation-item {
  display: flex;
  flex-direction: column-reverse;
  width: 160px;
}

.catalog-navigation-link {
  display: block;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.catalog-navigation-link::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  /* margin-bottom: 30px; */

  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-navigation-link:hover::before {
  background-color: #ffc700;
}

.catalog-navigation-link-1::before {
  background-image: url("../images/index-page/categories/categorie-1.svg");
}

.catalog-navigation-link-2::before {
  background-image: url("../images/index-page/categories/categorie-2.svg");
}

.catalog-navigation-link-3::before {
  background-image: url("../images/index-page/categories/categorie-3.svg");
}

.catalog-navigation-link-4::before {
  background-image: url("../images/index-page/categories/categorie-4.svg");
}

.catalog-navigation-link-5::before {
  background-image: url("../images/index-page/categories/categorie-5.svg");
}

.catalog-navigation-link-6::before {
  background-image: url("../images/index-page/categories/categorie-6.svg");
}

.catalog-navigation-category {
  min-height: 60px;
  margin-top: auto;
  padding-top: 32px;

  background-color: #ffffff;
}

/* Доставка, гарантия и кредит начало */
.terms-section {
  padding-bottom: 72px;

  background: linear-gradient(#ffffff, 102px, #f0f0f0 102px);
}

.terms-wrapper {
  display: flex;
  padding: 0 140px;
}

.terms-buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0;
  padding: 65px 0;

  border-right: #000000 7px solid;
}

.term-button {
  position: relative;

  width: 160px;
}

.term-button.current {
  color: #ffe17f;
}

.term-button.button-yellow-line:hover {
  color: rgba(255, 225, 127, 0.5);
}

.term-button.button-yellow-line:active {
  color: rgba(255, 225, 127, 0.3);
}

.term-button.button-yellow-line:hover::before,
.term-button.button-yellow-line:active::before {
  top: 0;

  height: 100%;

  background-color: #000000;
}

.term-item.current {
  background-color: #000000;
}

.term-item.current .term-button {
  color: #ffe17f;

  background-color: #000000;
}

.term-item.current .term-button::before {
  background-color: #000000;
}

.term-item:not(:last-child) {
  margin-bottom: 35px;
}

.term-description-list {
  padding: 72px 0 64px 116px;
}

.term-item:hover {
  background-color: #000000;
}

.term-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  opacity: 1;
}

.term-item:hover .term-button {
  color: #ffe17f;
}

.term-item:hover .term-button::before {
  background-color: #000000;
}

.term-button:focus {
  outline: none;
}

.term-header {
  margin-bottom: 34px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.term-text {
  position: relative;
}

.term-text::after {
  content: "";
  position: absolute;
  top: -80px;
  left: 558px;

  display: block;

  background-repeat: no-repeat;
}

.term-text-1::after {
  width: 135px;
  height: 165px;

  background: url("../images/index-page/deliever.svg") no-repeat;
}
/* Доставка, гарантия и кредит конец */

.white-wrapper {
  background-color: #ffffff;
}

.white-wrapper-super-order {
  /* padding-top: 70px; */

  background-color: #ffffff;
}

.super-order-wrapper {
  padding: 70px 0;

  background-color: #ffffff;
}

.super-order-link {
  position: relative;

  display: block;
  padding: 40px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background: #f0f0f0;
}

.super-order-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 125px;
  height: 100%;

  background: #ffe17f url("../images/index-page/deliever-car.svg") center no-repeat;
}

.super-order-link:hover::before {
  background-color: #ffc700;
}

.super-order-link:hover::after {
  opacity: 1;
}

.super-order-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 125px;

  width: 40px;
  height: 40px;

  background: rgba(220, 220, 220, 1) url("../images/info.svg") center no-repeat;
  border-radius: 50%;
  transform: translate(200%, -50%);
  opacity: 0.5;
}

.super-order-link:active {
  opacity: 0.3;
}

.about-and-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0 70px 0;

  background-color: #ffffff;
}

.about-company {
  width: 520px;
}

.about-and-contacts-header {
  margin: 40px 0 48px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.about-and-contacts-text {
  margin-bottom: 30px;
  padding: 0;
}

.about-list {
  padding: 0 0 30px 20px;
}

.about-list-item::marker {
  color: #ffe17f;
}

.about-list-item p {
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  letter-spacing: -0.02em;
}

.about-and-contacts-h3 {
  margin: 30px 0 15px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

/* Универсальный стиль кнопки
с желтой полосой */
.button-yellow-line {
  position: relative;
  z-index: 0;

  display: inline-block;
  padding: 10px 0;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: inherit;
}

.carousel.button-yellow-line {
  width: 220px;
}

.button-yellow-line::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #ffe17f;
}

.button-yellow-line:hover::before {
  top: 0;

  height: 100%;

  background-color: #ffe17f;
}

.button-yellow-line:active::before {
  top: 0;

  height: 100%;

  background-color: #ffcc33;
}

.button-yellow-line.width270 {
  width: 270px;
}

.button-yellow-line.width260 {
  width: 260px;
  margin-top: 30px;
}

.contacts {
  width: 532px;
}

.phone-number {
  font-style: normal;
  color: inherit;
}

.main-address {
  font-style: normal;
}

/* Секция с подпиской */
.subscribe-wrapper {
  padding: 0 141px;
  padding-top: 64px;
  padding-bottom: 56px;

  background: #f0f0f0;
}

.subscribe-first-row {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.subscribe-h2 {
  width: 350px;
  margin-right: 256px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.subscribe-p {
  width: 560px;
}

.subscribe-second-row {
  display: flex;
  align-items: center;
  margin-top: 144px;
}

.subscribe-form {
  display: flex;
  width: 810px;
  margin-right: 188px;
}

.subscribe-email {
  width: 557px;

  color: inherit;

  background-color: inherit;
  border: none;
  border-bottom: 3px #c4c4c4 solid;
}

.subscribe-email:invalid {
  outline-color: #ff3d3d;
}

.subscribe-email::placeholder {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  opacity: 0.5;
}

.subscribe-button {
  align-items: center;
  width: 253px;
  height: 57px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: 3px #c4c4c4 solid;
}

.this-free {
  display: flex;
  justify-content: space-between;
  width: 160px;

  text-align: left;
}

.this-free::before {
  content: "";

  display: block;
  align-self: center;
  width: 14px;
  height: 14px;

  background: url("../images/index-page/green-check.svg") no-repeat;
}
/* Конец главного содержимого главной страницы */

/* Начало главного содержимого страницы Каталог */
.catalog-header {
  padding: 35px 200px;

  background-color: #ffffff;
}

.catalog-main-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.catalog-breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.catalog-breadcrumbs-item {
  position: relative;

  display: flex;
  margin-right: 36px;
}

.catalog-breadcrumbs-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -20px;

  width: 4px;
  height: 7px;

  background: url("../images/catalog-page/crumb.svg") no-repeat center;
  opacity: 0.3;
}

.catalog-breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-main-wrapper {
  display: flex;
  padding: 0 140px;

  background: #f0f0f0;
}

.catalog-filter-column {
  width: 320px;
  padding-top: 25px;
  padding-left: 60px;
}

.filter-sorting-header {
  margin-bottom: 60px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-filter-group {
  padding: 0;

  border: none;
}

.catalog-filter-wrapper {
  width: 200px;
  margin-bottom: 35px;
  padding: 12px 0 0;

  border-top: 2px solid #000000;
}

.catalog-filter-legend {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.range {
  margin-top: 10px;
  margin-bottom: 20px;
}

.range-scale {
  position: relative;

  height: 2px;
  margin-bottom: 11px;

  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;

  height: 2px;

  background-color: #000000;
}

.range-toggle {
  position: absolute;

  width: 18px;
  height: 18px;
  padding: 0;

  background: #f0f0f0;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: 50%;
  left: -9px;

  transform: translate(0, -50%);
}

.toggle-max {
  top: 50%;
  right: -9px;

  transform: translate(0, -50%);
}

.range-wrapper-inputs {
  position: relative;

  display: flex;
  justify-content: space-between;

  font: inherit;
  font-size: 15px;
  line-height: 18px;
}

.catalog-filter-label {
  position: absolute;

  display: flex;

  font: inherit;
  font-size: 15px;
  line-height: 18px;

  opacity: 0.3;
}

.range-input {
  width: 12px;
  padding: 0 2px;

  font: inherit;
  text-align: center;

  background-color: transparent;
  border: none;
  appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  appearance: none;

  margin: 0;
}

.catalog-filter-list {
}

.catalog-filter-item {
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-item:last-child {
  margin: 0;
}

.control-label {
  position: relative;

  padding-left: 36px;
}

.input-appearance {
  position: absolute;
  appearance: none;
  appearance: none;
}

.checkbox {
  position: absolute;

  width: 16px;
  height: 16px;
  margin-left: -36px;

  background-color: inherit;
  border: #cccccc solid 2px;
  border-radius: 3px;
}

.radio {
  border-radius: 50%;
}

.for-focus {
  position: absolute;
  top: 2px;

  width: 16px;
  height: 16px;
  margin-left: -34px;
}

.input-appearance:checked + .checkbox {
  background: url("../images/catalog-page/check.svg") no-repeat center;
  border-color: #000000;
}

.input-appearance:checked + .checkbox.radio {
  background: #000000;
  border-color: #000000;
  outline: 4px solid #f0f0f0;
  outline-offset: -6px;
  opacity: 1;
}

.input-appearance:disabled + .checkbox {
  border-color: #000000;
  opacity: 0.1;
}

.input-appearance:disabled + .checkbox + .input-description {
  opacity: 0.1;
}

.input-appearance:focus + .checkbox + .for-focus {
  z-index: 2;

  outline: 2px solid #af4fff;
  outline-offset: 4px;
  opacity: 1;
}


.w220 {
  width: 220px;
}

.catalog-right-column {
  width: 840px;
}

.sorting-select {
  width: 160px;
  padding-right: 50px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;

  background: url("../images/catalog-page/sort.svg") no-repeat right 12px center;
  background-color: inherit;
  appearance: none;
  appearance: none;
}

.sorting-mini-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.up-down-buttons-wrapper {
  display: flex;
  min-width: 60px;
}

.sorting-header-word {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting-options-select {
  max-width: 200px;
}

.up-down-sorting {
  min-width: 30px;
  min-height: 30px;

  background-image: url(../images/catalog-page/up-triangle.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  opacity: 0.3;
}

.up-down-sorting:hover {
  opacity: 0.6;
}

.up-down-sorting:active {
  opacity: 1;
}

.down-sorting {
  transform: scale(1, -1);
}

.product-list-section {
  padding: 70px 40px 78px;

  background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
}

.product-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 360px;
}

.product-item.new::before {
  content: "new";
  position: absolute;
  top: 27px;
  right: 27px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-family: "Raleway";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product-item:hover > .product-img,
.product-item:hover > .name-and-price-wrapper {
  opacity: 0.6;
}

.product-item:active > .product-img,
.product-item:active > .name-and-price-wrapper {
  opacity: 0.3;
}

.product-item:hover > .button-yellow-line {
  display: block;
}

.name-and-price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.product-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  opacity: 1;
}

.product-link:focus {
  outline: none;
}

.product-title {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  letter-spacing: -0.02em;
}

.product-link {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.product-link:visited {
  color: #000000;
}

.product-img {
  display: block;
  object-fit: contain;
}

.product-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-item > .button-yellow-line {
  position: absolute;
  top: 170px;
  left: 50%;

  display: none;
  width: 220px;

  transform: translate(-50%);
}

.pagination-show-more {
  align-items: center;
  width: 760px;
  margin-top: 44px;
  padding: 15px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: inherit;
  border: 3px solid #e5e5e5;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;

  background: #ebebeb;
}

.pagination-list {
  display: flex;
  /* align-items: stretch; */
  margin: auto;
}

.pagination-prev,
.pagination-next {
  padding: 25px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-prev-next:hover {
  background-color: #dcdcdc;
}

.pagination-prev-next:active {
  /* background-color: #dcdcdc; */
  opacity: 0.3;
}

.pagination-link {
  display: inline-block;
  min-width: 40px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;

  opacity: 0.3;
}

.pagination-link:active {
  opacity: 1;
}
/* Конец главного содержимого страницы Каталог */

/* Модальное окно на главной странице начало */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  width: 100%;
  height: 100%;

  background: rgba(240, 240, 240, 0.9);
}

.display-none-selector {
  display: none;
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 62px 70px;

  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-order {
  width: 760px;
}

.modal-close-button {
  position: absolute;
  top: 74px;
  right: 70px;

  width: 26px;
  height: 26px;
  padding: 0;

  background-color: #ffffff;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.modal-row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 760px;
  margin-bottom: 42px;
}

.modal-input {
  padding: 18px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  background: #f0f0f0;
  border: 2px solid #f0f0f0;
}

.input-wrapper-name,
.input-wrapper-email,
.modal-request {
  position: relative;

  margin-top: 14px;
}

.input-wrapper-email .modal-input:invalid {
  border: 2px solid #ff3d3d;
}

.input-wrapper-name::after,
.input-wrapper-email::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 21px;

  width: 13px;
  height: 12px;

  background: url("../images/index-page/modal/user-icon.svg")  no-repeat;
  transform: translate(0, -50%);
}

.input-wrapper-email::after {
  width: 15px;
  height: 12px;

  background-image: url("../images/index-page/modal/letter-icon.svg");
}

.modal-row-flex .modal-input {
  width: 320px;
}

.modal-row-flex.second .modal-input {
  width: 500px;
}

.modal-label {
  position: relative;

  margin-bottom: 14px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.input-error {
  /* display: none; */
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ff3d3d;
}

.modal-form .button-yellow-line.button {
  width: 200px;

  background-color: inherit;
}

.modal-number-wrapper {
  position: relative;

  display: flex;
  justify-content: start;
  min-width: 180px;
  margin: 0;

  background: #f0f0f0;
}

.modal-minus-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 22px;

  width: 16px;
  height: 2px;

  background-color: #000000;
  transform: translateY(-50%);
}

.modal-plus-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;

  width: 16px;
  height: 2px;

  background-color: #000000;
  transform: translateY(-50%);
}

.modal-plus-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;

  width: 16px;
  height: 2px;

  background-color: #000000;
  transform: translateY(-50%) rotate(90deg);
}

.modal-minus-button,
.modal-plus-button {
  width: 60px;
  height: 60px;
}

.modal-number-label {
  z-index: 1;
}

.modal-number {
  width: 60px;
  height: 60px;
  padding: 0;

  font: inherit;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: none;
  appearance: textfield;

  cursor: pointer;
}

.modal-number::-webkit-outer-spin-button,
.modal-number::-webkit-inner-spin-button {
  appearance: none;
  appearance: none;

  margin: 0;
}

.modal-minus-button:hover,
.modal-plus-button:hover,
.modal-number:hover {
  background-color: #ebebeb;
}

.modal-minus-button:active,
.modal-plus-button:active,
.modal-number:active {
  background-color: #dcdcdc;
}

.info-tooltip-button {
  position: absolute;
  top: -3px;

  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 8px;

  background-color: #ffe17f;
  border-radius: 50%;
}

.info-tooltip-button::before {
  content: "";
  position: absolute;

  width: 2px;
  height: 12px;

  background: url("../images/info.svg") no-repeat 50% 50%;
  transform: translate(-50%, -50%);
}

.info-tooltip-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.modal-tooltip-text {
  position: absolute;
  top: 40px;
  right: -34px;
  z-index: 1;

  width: 164px;
  padding: 19px;

  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #ffffff;

  background-color: #000000;
}

.modal-tooltip-text::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 40px;

  width: 14px;
  height: 14px;

  background-color: #000000;
  transform: rotate(45deg);
}

.info-tooltip-button:hover > .modal-tooltip-text {
  display: block;
}

.info-tooltip-button:focus > .modal-tooltip-text {
  display: block;
}

.info-tooltip-button:focus {
  outline: none;
}

.modal-unit {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}
/* Модальное окно на главной странице Конец */

/* Поповер корзины начало */
.shopcart-wrapper {
  position: relative;
  z-index: 3;
}

.popover-cart {
  position: absolute;
  left: -110px;

  display: none;
  width: 320px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.popover-cart-item {
  padding: 20px;
}

.popover-cart-link {
  display: flex;
  align-items: flex-start;
  min-height: 43px;
  color: #ffffff;
  text-decoration: none;
}

.popover-cart-link > span {
  margin-left: 23px;
}

.popover-cart-image {
  display: block;
}

.popover-cart-button-delete {
  position: relative;

  display: block;
  width: 10px;
  height: 10px;
  margin-left: auto;
  padding: 0;

  background-color: #000000;
  border: none;
  cursor: pointer;
}

.popover-cart-button-delete::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 2px;

  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popover-cart-button-delete::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 2px;

  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popover-cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  padding: 0 20px;

  background: #1a1a1a;
}

.popover-cart-link-open {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin: 20px;

  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: #ffffff;
}

.popover-cart-link-open:visited {
  color: #000000;
}

.popover-cart-link:visited {
  color: #ffffff;
}

.popover-cart::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 160px;

  width: 14px;
  height: 14px;

  background-color: #000000;
  transform: rotate(45deg);
}

.shopcart-wrapper:focus-within > .popover-cart {
  display: block;
}

.popover-cart:hover {
  display: block;
}

.shopcart-link:hover ~ .popover-cart {
  display: block;
}
/* Поповер корзины конец */
