@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;

  background: #e5e5e5;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.reset-margin {
  margin: 0;
}

/* Начало шапки страницы */
.body-white-wrapper {
  width: 1440px;
  margin: 0 auto;

  background-color: #ffffff;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
}

.header-yellow-wrapper {
  margin-top: -13px;
  padding: 43px 60px 23px;

  background-color: #ffe17f;
}

.page-logo {
  display: block;
  margin-top: 18px;
  margin-left: 60px;
}

.page-logo-link {
}

.header-first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-tandem {
  display: flex;

  border: 2px solid #000000;
  border-radius: 50px;
}

.search-input {
  width: 357px;
  height: 36px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: inherit;

  background-color: inherit;
  border: none;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: inherit;

  opacity: 1; /* Firefox */
}

.search-button {
  width: 158px;
  height: 36px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;

  background-color: inherit;
  border: none;
  border-left: 2px solid #000000;
}

.user-tandem {
}

.login-link,
.logout-link {
  display: inline-block;
  padding: 5px 0;

  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.compare-shopcart-tandem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 240px;
}

.compare-shopcart-tandem:first-child {
  margin-left: auto;
}

.compare-link,
.shopcart-link {
  display: inline-block;
  padding: 5px 0;

  font-size: 18px;
  line-height: 30px;
  text-align: right;
  color: inherit;
  text-decoration: none;
}

.header-second-row {
  display: flex;
}

.product-catalog-select {
  width: 293px;
  margin-right: auto;
}

.header-navigation {
}

.product-catalog-select,
.header-navigation-link {
  display: block;
  padding: 15px 0;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.header-navigation-item {
  margin-left: 45px;
}

.header-navigation-item:first-child {
  margin-left: auto;
}
/* Конец шапки страницы */

.index-main-yellow-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 113px;
  margin: 0 auto;

  background-color: #ffe17f;
}

.recommended-number {
  margin-right: 49px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 180px;
  line-height: 30px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
}

.main-container {
  flex-grow: 1;
  width: 1160px;
  margin: 0 auto;
}

/* Начало подвала страницы */
.page-footer {
  padding: 62px 140px 61px;

  color: #ffffff;

  background: #444444;
}

.footer-device-logo {
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.footer-address {
  width: 250px;

  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-yellow-line {
  width: 250px;
}

.footer-direction {
}

.footer-navigation {
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation-item {
}


.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  align-self: center;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.footer-phone {
  width: 200px;

  text-align: right;
  color: inherit;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

.social-networks-section {
}

.social-networks-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  min-height: 40px;
}

.social-networks-item {
  min-width: 40px;
  min-height: 40px;

  background-color: #ffffff4d;
  border-radius: 50%;
}

.social-networks-item:not(:last-child) {
  margin-right: 15px;
}

.social-networks-item:nth-child(7n) {
  margin-right: 0;
}

.social-networks-item:nth-child(1n + 8) {
  margin-top: 15px;
}

.social-networks-link {
}

.footer-logo-html {
  width: 200px;

  text-align: right;
}
/* Конец подвала страницы */

/* Начало главного содержимого главной страницы */
.main-index {
}

.carousel-section {
  margin-top: -151px;
  padding: 0;
  /* padding-top: 85px; */
}

.carousel-section-wrapper {
  display: flex;
}

.carousel-main-image {
  /* display: flex; */
  /* align-items: center; */
  width: 560px;
  margin-right: 40px;
}

.slider-button {
  position: absolute;
  z-index: 5;
  /* top: 50%; */
  margin-top: 211px;
  padding: 0;

  background-color: inherit;
  border: none;
}

.slider-prev {
  margin-left: 30px;
}


.slider-image {
  position: relative;

  width: 560px;
  height: 560px;
  object-fit: contain;
}

.slider-next {
  margin-left: -20px;

  transform: scale(-1, 1);
}

.carousel-description {
  width: 560px;
  align-self: flex-end;
}

.slider-slogan {
  /* margin-top: auto; */
  margin-bottom: 29px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.slider-description {
  margin-top: 0;
  margin-bottom: 51px;

  font-size: 18px;
  line-height: 30px;
}

.carousel-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 49px;
}

.like-radio-wrapper {
}

.like-radio {
}

.current-like-radio {
}

.meaning-property-wrapper {
  margin-right: 20px;
}

.slider-properties {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.slider-property {
  font-size: 16px;
  line-height: 30px;
}

.slider-meaning {
  margin-bottom: 12px;

  font-size: 36px;
  line-height: 30px;
}

.catalog-navigation {
  padding-bottom: 70px;
}

.catalog-navigation-list {
  display: flex;
  justify-content: space-between;
  height: 253px;
}

.catalog-navigation-item {
  display: flex;
  flex-direction: column-reverse;
  width: 160px;

  background-color: #ffe17f;
}

.catalog-navigation-link {
  display: block;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.catalog-navigation-category {
  min-height: 60px;
  margin-top: auto;
  padding-top: 32px;

  background-color: #ffffff;
}

/* Доставка, гарантия и кредит начало */
.terms-section {
  display: flex;
  align-items: center;
  min-height: 319px;
  padding: 0 140px 72px;
}

.terms-wrapper {
  display: flex;
}

.terms-buttons-wrapper {
  display: flex;
  flex-basis: 319px;
  flex-direction: column;
  width: 280px;
  margin-right: 116px;
  padding: 65px 0;

  border-right: #000000 7px solid;
}

.term-button {
  width: 160px;
  height: 40px;
}

.term-button:not(:last-child) {
  margin-bottom: 35px;
}

.term-description-list {
  width: 452px;
}

.term-delievery-item {
}

.term-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.term-text-1 {
}
/* Доставка, гарантия и кредит конец */

.white-wrapper {
  background-color: #ffffff;
}

.white-wrapper-super-order {
  padding-top: 70px;

  background-color: #ffffff;
}

.super-order-wrapper {
  /* сомневаюсь */
  display: table;
  width: 1160px;
  height: 100px;
  margin: 0 auto;

  background-color: #f0f0f0;
}

.super-order {
  /* сомневаюсь */
  display: table-cell;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.about-and-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 70px 140px;

  background-color: #ffffff;
}

.about-company {
  width: 520px;
}

.about-and-contacts-header {
  margin: 40px 0 48px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.about-and-contacts-text {
  padding: 0 0 30px;
}

.about-list {
  padding: 0 0 30px 20px;
}

.about-list-item::marker {
  color: #ffe17f;
}

.about-list-item p {
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  letter-spacing: -0.02em;
}

.about-and-contacts-h3 {
  margin: 0 0 15px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

/* Универсальный стиль кнопки
с желтой полосой */
.button-yellow-line {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.contacts {
  width: 532px;
}

.phone-number {
  font-style: normal;
  color: inherit;
}

.main-address {
  font-style: normal;
}

/* Секция с подпиской */
.subscribe-wrapper {
  margin: 0 141px;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe-first-row {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.subscribe-h2 {
  width: 350px;
  margin-right: 256px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.subscribe-p {
  width: 560px;
}

.subscribe-second-row {
  display: flex;
  align-items: center;
  margin-top: 144px;
}

.subscribe-form {
  display: flex;
  width: 810px;
  margin-right: 188px;
}

.subscribe-email {
  width: 557px;

  color: inherit;

  background-color: inherit;
  border: none;
  border-bottom: 3px #c4c4c4 solid;
}

.subscribe-email::placeholder {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  opacity: 0.5;
}

.subscribe-button {
  align-items: center;
  width: 253px;
  height: 57px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: 3px #c4c4c4 solid;
}

.this-free {
  width: 160px;

  text-align: left;
}
/* Конец главного содержимого главной страницы */

/* Начало главного содержимого страницы Каталог */
.main-catalog {
}

.catalog-header {
  padding: 35px 200px;

  background-color: #ffffff;
}

.catalog-main-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.catalog-breadcrumbs-list {
  display: flex;
  margin-top: 16px;
}

.catalog-breadcrumbs-item {
  max-width: 200px;
  margin-right: 36px;
}

.catalog-breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-main-wrapper {
  display: flex;
  padding: 0 140px;
}

.catalog-filter-column {
  width: 320px;
  padding-top: 25px;
  padding-left: 60px;
}

.filter-sorting-header {
  margin-bottom: 60px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-filter {
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-wrapper {
  width: 200px;
  margin-top: 35px;
  padding: 12px 0 39px;

  border-top: 2px solid #000000;
}

.catalog-filter-legend {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.catalog-filter-list {
}

.catalog-filter-item {
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 19px;
}

.control-label {
}

.color-checkbox {
}

.catalog-right-column {
  width: 840px;
}

.sorting-select {
  width: 160px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;

  background-color: inherit;
  border: none;
}

.sorting-mini-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 40px;
}

.up-down-buttons-wrapper {
  display: flex;
  min-width: 60px;
}

.sorting-header-word {
  max-width: 200px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting-options-select {
  max-width: 200px;
}

.up-down-sorting {
  width: 30px;
  height: 30px;

  background-image: url(../images/catalog-page/up-triangle.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
}

.down-sorting {
  transform: scale(1, -1);
}

.product-list-section {
  padding: 70px 40px 78px;

  background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
}

.product-item {
  width: 360px;
}

.name-and-price-wrapper {
  display: flex;
  justify-content: space-between;
}


.product-title {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  letter-spacing: -0.02em;
}

.product-img {
  object-fit: contain;
}

.product-title {
}

.product-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  align-items: center;
  width: 760px;
  height: 55px;
  margin-top: 44px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: inherit;
  border: 3px solid #e5e5e5;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;
  margin-top: 44px;

  background: #ebebeb;
}

.pagination-list {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
}

.pagination-prev,
.pagination-next {
  padding: 25px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-item {
  width: 40px;
  height: 40px;

  text-align: center;
}

.pagination-prev {
}

.pagination-prev-next {
}

.pagination-link {
  display: block;
  width: 40px;
  height: 40px;
  padding-top: 10px;

  font-size: 16px;
  text-align: center;
  color: #444444;
  text-decoration: none;

  opacity: 0.3;
}

.pagination-current {
}

.pagination-next {
}
/* Конец главного содержимого страницы Каталог */
